<!DOCTYPE html>
<html>
  <head>
		<title>maintainCMU</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	</head> 
<body> 

	<div data-role="page" id="index">

		<div data-role="header">
			<h1>maintainCMU</h1>
		</div>

		<div data-role="content">
			<h2 align="center">Welcome!</h2>
			<p>Here any member of the Carnegie Mellon community can log a maintenance request in order to alert university staff when something is broken on campus.</p>
			<a href="newRequest.ejs" data-role="button">Create a new maintanence request</a>
		</div>

	</div>
</body>