<!DOCTYPE html>
<html>
  <head>
		<title>maintainCMU</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css">
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	</head> 
<body> 

	<div data-role="page" id="index">
		<div data-role="header">
			<h1>maintainCMU</h1>
		</div>
		<div data-role="content">
			<h2 align="center">Welcome!</h2>
			<p>Here any member of the Carnegie Mellon community can log a maintenance request in order to alert university staff when something is broken on campus.</p>
			<a href="#newReq" data-role="button">Create a new maintanence request</a>
			<h3 align="center">Existing Maintenance Requests</h3>
			<div id="exRequests"></div>
		</div>
	</div>

	<div data-role="page" id="newReq">
		<div data-role="header">
			<h1>maintainCMU</h1>
		</div>
		<div align="center"><h2>Create a new maintenance request</h2></div>
		<div data-role="content">
			<i>Input information about the problem you're experiencing in an on-campus facility.</i>
			<h3>In what building is the issue occuring?</h3></b></b>
			<input type="text" id="building" placeholder="e.g. Scaife"/>
			<h3>Do you know the room number of the space where the problem is occuring?  If yes, input it here.</h3>
			<input type="text" id="roomNum" placeholder="e.g. 313" /></b></b>
			<h3>If not, do you know on which floor of the building the problem is occuring?</h3>
			<input type="text" id="floorNum" placeholder="e.g. 2nd floor">
			<h3>Please enter any additional information that might help someone <u>find</u> the problem.</h3>
			<input type="text" id="location" placeholder="e.g. 'In the 2nd floor women's restroom'">
			<h3>Please enter any additional information that might help someone <u>understand</u> the problem.</h3>
			<input type="text" id="description" placeholder="e.g. 'The faucet is leaking water.'">



<div data-role="page" id="newReq">
	<div data-role="header">
		<h1>maintainCMU</h1>
	</div>
	<div align="center"><h2>Create a new maintenance request</h2></div>
	<div data-role="content">
		<i>Input information about the problem you're experiencing in an on-campus facility.</i>
		<h3>In what building is the issue occuring?</h3></b></b>
		<input type="text" id="building" placeholder="e.g. Scaife"/>
		<h3>Do you know the room number of the space where the problem is occuring?  If yes, input it here.</h3>
		<input type="text" id="roomNum" placeholder="e.g. 313" /></b></b>
		<h3>If not, do you know on which floor of the building the problem is occuring?</h3>
		<input type="text" id="floorNum" placeholder="e.g. 2nd floor">
		<h3>Please enter any additional information that might help someone <u>find the problem</u> and <u>understand the problem</u></h3>
		<input type="text" id="description" placeholder="e.g. 'The faucet in the 2nd floor women's restroom is leaking water.'">

        <h2> Take Picture: <h2>
        
        <input type="file" id="take-picture" accept="image/*">
       
        <h2>Preview:</h2>
        <p>
            <img src="about:blank" alt="" id="show-picture" width = "250">
        </p>

        <p id="error"></p>
		
	</div>
	<a href="#index" data-role="button" id="submit">Submit</a>
	<a href="#index" data-role="button">Back</a>
</div>
        <script src="photo.js"></script>

</body>